<section class="bonus">
  <div class="bonus-container container">
    <div>
      <img src="" alt="Golden Crown" />
      <h2>Bonus Chapter</h2>
      <h3>The frost cursed the land—but a darker truth haunts its shadows</h3>
    </div>
    <div>
      <p>
        Once the main story concludes, an epic bonus chapter awaits. The
        Knight’s Legacy follows a mysterious armored figure rumored to have
        defied both king and curse. Track his footsteps through forbidden
        catacombs, glacial caverns, and battle-scarred temples
      </p>
    </div>
    <div>
      <p>
        This chapter weaves a tale of redemption, betrayal, and ancient vows—all
        while adding new puzzles and characters to your journey. Expect deeper
        emotional stakes, dual-perspective storytelling, and a climactic final
        twist that reframes everything you thought you knew
      </p>
    </div>
    <div>
      <img src="" alt="man in black" />
    </div>
  </div>
</section>
