<section class="bonus" id="bonus-chapter">
  <div class="container bonus-container">
    <div class="bonus-left">
      <h2 class="section-header">
        <img
          class="section-header-ornament"
          src="./img/ornament-top.webp"
          alt="Golden Crown"
        />Bonus Chapter
      </h2>
      <h3 class="bonus-subtitle">
        The frost cursed the land—but a darker truth haunts its shadows
      </h3>

      <div class="bonus-card card-blue">
        <p>
          Once the main story concludes, an epic bonus chapter awaits. The
          Knight’s Legacy follows a mysterious armored figure rumored to have
          defied both king and curse. Track his footsteps through forbidden
          catacombs, glacial caverns, and battle-scarred temples.
        </p>
      </div>

      <div class="bonus-card card-dark">
        <p>
          This chapter weaves a tale of redemption, betrayal, and ancient
          vows—all while adding new puzzles and characters to your journey.
          Expect deeper emotional stakes, dual-perspective storytelling, and a
          climactic final twist that reframes everything you thought you knew.
        </p>
      </div>
    </div>

    <div class="bonus-image">
      <img src="./img/dark-style-ninja.webp" alt="man in black" />
    </div>
  </div>
</section>
