<section class="collectibles" id="collectibles">
  <div class="collectibles-container container">
    <h2 class="section-header">
      <img
        class="section-header-ornament"
        src="./img/ornament-top.webp"
        alt="Golden Crown"
      />Collectibles
    </h2>
    <h3 class="hints-title">
      Artifacts of beauty and power lie just beneath the frost
    </h3>
    <p class="section-p blue-background">
      Every region you visit contains rare and enchanted items waiting to be
      uncovered. From phoenix-feather scrolls to moonlight pearls, each
      collectible adds to your growing library of magical curiosities
    </p>
    <p class="section-p cyan-background">
      Earn aquarium creatures to display in your enchanted sanctuary, and unlock
      hidden story scrolls that reveal ancient kingdom lore. These items also
      grant visual upgrades, custom backgrounds, and music tracks
      <img class="potion" src="./img/blue-potion.webp" alt="potion" />
    </p>
    <p class="section-p blue-cyan-background">
      Some can only be found through sharp observation or solving side
      puzzles—rewarding your exploration with deeper immersion
      <img class="moon" src="./img/crescent-with-clouds.webp" alt="moon" />
    </p>
    <div class="placeholder"></div>
  </div>
</section>
