<section class="collectibles">
  <div class="collectibles-container container">
    <div>
      <img src="../img/webp/ornament-top.webp" alt="Golden Crown" />
      <h2>Collectibles</h2>
      <h3>Artifacts of beauty and power lie just beneath the frost</h3>
    </div>
    <div>
      <p>
        Every region you visit contains rare and enchanted items waiting to be
        uncovered. From phoenix-feather scrolls to moonlight pearls, each
        collectible adds to your growing library of magical curiosities
      </p>
    </div>
    <div>
      <p>
        Earn aquarium creatures to display in your enchanted sanctuary, and
        unlock hidden story scrolls that reveal ancient kingdom lore. These
        items also grant visual upgrades, custom backgrounds, and music tracks
      </p>
    </div>
    <div>
      <img src="../img/webp/crescent-with-clouds.webp" alt="moon" />
    </div>
    <div>
      <img src="../img/webp/blue-potion.webp" alt="potion" />
    </div>
    <div>
      <p>
        Some can only be found through sharp observation or solving side
        puzzles—rewarding your exploration with deeper immersion
      </p>
    </div>
  </div>
</section>
