<section class="contact">
  <div class="contact-container">
    <div>
      <img src="" alt="Golden Crown" />
      <h2>Contact</h2>
      <h3>Your voice shapes the future of the realm</h3>
    </div>
    <div>
      <p>
        We welcome your feedback, whether it’s a suggestion, bug report, or lore
        theory
      </p>
      <p>
        Contact us anytime at info@enchantedfunmania.com, or reach out on our
        official social media pages
      </p>
      <p>
        Sign up for our newsletter for sneak peeks at upcoming chapters,
        seasonal events, and early access beta invites
      </p>
      <p>
        Your ideas, questions, and passion help make Enchanted Kingdom: Frost
        Curse a living, breathing experience. Join the conversation—and help
        write the next chapter
      </p>
    </div>
  </div>
</section>
