<section class="contact">
  <div class="contact-container container">
    <h2 class="section-header">
      <img
        class="section-header-ornament"
        src="./img/ornament-top.webp"
        alt="Golden Crown"
      />Contact
    </h2>
    <h3 class="contacts-slogan">Your voice shapes the future of the realm</h3>
    <p class="contact-p-up">
      We welcome your feedback, whether it’s a suggestion, bug report, or lore
      theory
    </p>
    <p class="email-p contact-p-up">
      Contact us anytime at
      <a href="mailto:info@enchantedfunmania.com">info@enchantedfunmania.com</a
      >, or reach out on our official social media pages
    </p>
    <p>
      Sign up for our newsletter for sneak peeks at upcoming chapters, seasonal
      events, and early access beta invites
    </p>
    <p>
      Your ideas, questions, and passion help make Enchanted Kingdom: Frost
      Curse a living, breathing experience. Join the conversation—and help write
      the next chapter
    </p>
  </div>
</section>
