<div class="cookies-backdrop hidden">
    <div class="cookies-modal-content">
        <p class="cookies-banner">We use cookies to improve your experience on our website. By browsing this website, you agree to our use of cookies.</p>
        <ul class="cookies-btns">
            <li><button class="cookies-accept-btn" aria-label="accept cookies">Accept Cookies</button></li>
            <li><button class="cookies-decline-btn" aria-label="decline cookies">Decline Cookies</button></li>
        </ul>
    </div>
</div>