<section class="design" id="design">
  <div class="design-container container">
    <h2 class="section-header">
      <img
        class="section-header-ornament"
        src="./img/ornament-top.webp"
        alt="Golden Crown"
      />Design
    </h2>
    <h3 class="hints-title">Where every pixel shivers with enchantment</h3>
    <p class="desktop-visible">
      Crafted by a dedicated team of artists and composers, the game’s visual
      style combines fairytale charm with gothic elegance
    </p>
    <div class="design-features-wrapper">
      <div class="design-features">
        <p class="design-p blue">
          Frozen castles glow with ethereal blues, while cursed woods swirl with
          animated mist and flickering spirits
        </p>
        <p class="design-p cyan">
          Characters are fully voiced, animated, and uniquely stylized, adding
          personality to each encounter
        </p>
        <p class="design-p cyan-blue">
          The soundtrack is dynamic—swelling in moments of triumph and
          whispering through corridors of sorrow
        </p>
        <p class="design-p blue">
          Ambient sound effects, like creaking trees and echoing footsteps, help
          anchor you in the world
        </p>
      </div>
      <img
        class="design-img"
        src="./img/design-img1.webp"
        alt="Game scene on phone"
      />
    </div>
    <p class="desktop-visible">
      Play with headphones to feel every chill and crescendo
    </p>
  </div>
</section>
