<section class="design" id="design">
  <div class="design-container container">
    <div>
      <h2 class="section-header">
        <img
          class="section-header-ornament"
          src="./img/ornament-top.webp"
          alt="Golden Crown"
        />Design
      </h2>
      <h3 class="collectibles-slogan">
        Where every pixel shivers with enchantment
      </h3>
    </div>
    <div>
      <p>
        Crafted by a dedicated team of artists and composers, the game’s visual
        style combines fairytale charm with gothic elegance
      </p>
    </div>
    <div>
      <img src="./img/design-img1.webp" alt="Game scene on phone" />
    </div>
    <div>
      <p>
        Frozen castles glow with ethereal blues, while cursed woods swirl with
        animated mist and flickering spirits
      </p>
      <p>
        Characters are fully voiced, animated, and uniquely stylized, adding
        personality to each encounter
      </p>
      <p>
        The soundtrack is dynamic—swelling in moments of triumph and whispering
        through corridors of sorrow
      </p>
      <p>
        Ambient sound effects, like creaking trees and echoing footsteps, help
        anchor you in the world
      </p>
    </div>
    <div>
      <p>Play with headphones to feel every chill and crescendo</p>
    </div>
  </div>
</section>
