<footer class="footer">
  <div class="container footer-container">
    <p>
      Website:
      <a href="https://enchantedfunmania.com" target="_blank"
        >enchantedfunmania.com</a
      >
    </p>
    <div class="footer-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms and Conditions</a>
      <a href="#">Cookies Policy</a>
    </div>
    <div class="footer-social">
      <p>Follow us</p>
      <a href="#"><img src="" alt="Instagram" /></a>
      <a href="#"><img src="" alt="Facebook" /></a>
      <a href="#"><img src="" alt="Twitter" /></a>
    </div>
    <p>© 2025 Enchanted Funmania Studios. All Rights Reserved</p>
  </div>
</footer>
