<footer class="footer">
  <div class="footer-links-container">
    <p class="footer-email">
      Website:
      <a
        href="https://enchantedfunmania.com"
        target="_blank"
        class="footer-link light"
      >
        enchantedfunmania.com
      </a>
    </p>

    <div class="footer-link">
      <a href="#" class="footer-link">Privacy Policy</a>
      <a href="#" class="footer-link light">Terms and Conditions</a>
      <a href="#" class="footer-link light">Cookies Policy</a>
    </div>

    <div class="footer-social">
      <p>Follow us</p>
      <div class="footer-social-icons">
        <a href="#" class="footer-icon">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/src/img/webp/Instagram@2x.webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="/src/img/webp/Instagram.webp"
            />
            <img
              src="/src/img/webp/Instagram.webp"
              alt="Instagram"
              loading="lazy"
              width="40"
              height="40"
            />
          </picture>
        </a>

        <a href="#" class="footer-icon">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/src/img/webp/Facebook@2x.webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="/src/img/webp/Facebook.webp"
            />
            <img
              src="/src/img/webp/Facebook.webp"
              alt="Facebook"
              loading="lazy"
              width="40"
              height="40"
            />
          </picture>
        </a>

        <a href="#" class="footer-icon">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/src/img/webp/Twitter@2x.webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="/src/img/webp/Twitter.webp"
            />
            <img
              src="/src/img/webp/Twitter.webp"
              alt="Twitter"
              loading="lazy"
              width="40"
              height="40"
            />
          </picture>
        </a>
      </div>
    </div>

    <div class="footer-line"></div>

    <p class="footer-copy">
      © 2025 Enchanted Funmania Studios. All Rights Reserved
    </p>
  </div>
</footer>
