<footer class="footer">
  <div class="footer-links-container">
    <p class="footer-email">
      Website:
      <a
        href="https://enchantedfunmania.com"
        target="_blank"
        class="footer-link light"
      >
        enchantedfunmania.com
      </a>
    </p>

    <div class="footer-links-container">
      <a class="footer-link" href="./privacy-policy.html">Privacy Policy</a>
      <a class="footer-link light" href="./terms-and-conditions.html"
        >Terms and Conditions</a
      >
      <a class="footer-link light" href="./cookies-policy.html"
        >Cookies Policy</a
      >
    </div>

    <div class="footer-social">
      <p>Follow us</p>
      <div class="footer-social-icons">
        <a href="#" class="footer-icon">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/Instagram@2x.webp"
            />
            <source media="(max-width: 767px)" srcset="./img/Instagram.webp" />
            <img
              src="./img/Instagram.webp"
              alt="Instagram"
              loading="lazy"
              width="40"
              height="40"
            />
          </picture>
        </a>

        <a href="#" class="footer-icon">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/Facebook@2x.webp"
            />
            <source media="(max-width: 767px)" srcset="./img/Facebook.webp" />
            <img
              src="./img/Facebook.webp"
              alt="Facebook"
              loading="lazy"
              width="40"
              height="40"
            />
          </picture>
        </a>

        <a href="#" class="footer-icon">
          <picture>
            <source media="(min-width: 768px)" srcset="./img/Twitter@2x.webp" />
            <source media="(max-width: 767px)" srcset="./img/Twitter.webp" />
            <img
              src="./img/Twitter.webp"
              alt="Twitter"
              loading="lazy"
              width="40"
              height="40"
            />
          </picture>
        </a>
      </div>
    </div>

    <div class="footer-line"></div>
    <p class="footer-copy">
      © 2025 Enchanted Funmania Studios. All Rights Reserved
    </p>
  </div>
</footer>
