<section class="gameplay">
  <div class="gameplay-container container">
    <div>
      <img src="../img/webp/ornament-top.webp" alt="Golden Crown" />
      <h2>Gameplay</h2>
      <h3>An icy world of secrets—waiting to be seen</h3>
    </div>
    <div>
      <img src="../img/webp/magnifying-glass.webp" alt="Magnifying Glass" />
      <p>
        In Enchanted Kingdom, your wits are your strongest weapon. Each chapter
        introduces beautifully illustrated scenes teeming with hidden objects,
        enchanted mechanisms, and logic-based conundrums
      </p>
    </div>
    <div>
      <img src="../img/webp/ornated-key.webp" alt="Golden Key" />
      <p>
        Seek out items tucked beneath snowdrifts, decode cryptic runes, and
        assemble relics that unlock ancient passageways. Puzzles vary in
        complexity and style—from elemental matching games to rotating magic
        rings that power enchanted gates
      </p>
    </div>
    <div>
      <img src="../img/webp/gameplay-img3.webp" alt="Gameplay Scene" />
      <p>
        Hidden object scenes are dynamic, with some items revealed only after
        triggering special actions. The hint system is robust yet optional—great
        for players who enjoy a challenge or those who want a helping hand.
      </p>
    </div>
  </div>
</section>
