<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="#"
        ><img
          class="header-logo-img"
          src="../img/webp/logo-icon.webp"
          alt="game-icon"
      /></a>
      <ul class="nav-list">
        <li class="nav-item"><a href="#welcome">Welcome</a></li>
        <li class="nav-item">
          <a href="#about-game" class="dropdown-toggle">
            About
            <!-- &#9660; -->
            <svg class="icon-down" width="24" height="24">
              <use href="../img/sprite.svg#icon-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu hidden">
            <ul>
              <li><a href="#storyline">Storyline</a></li>
              <li><a href="#gameplay">Gameplay</a></li>
              <li><a href="#bonus-chapter">Bonus Chapter</a></li>
              <li><a href="#collectibles">Collectibles</a></li>
              <li><a href="#replayability">Replayability</a></li>
              <li><a href="#design">Design</a></li>
              <li><a href="#hints">Hints</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item"><a href="#offline-mode">Offline Mode</a></li>
        <li class="nav-item"><a href="#fan-content">Fan Content</a></li>
        <li class="nav-item"><a href="#contact">Contact</a></li>
      </ul>
      <button class="burger-btn hidden" type="button" data-menu-open>
        <svg class="burger-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
