<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="#"
        ><img
          class="header-logo-img"
          src="./img/logo-icon@2x.webp"
          alt="game-icon"
      /></a>
      <ul class="nav-list">
        <li class="nav-item"><a href="#welcome">Welcome</a></li>
        <li class="nav-item dropdown-toggle">
          <a>
            About<svg class="icon-down icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu">
            <ul>
              <img
                class="drop-ornament-img-top"
                src="./img/ornament-top@2x.webp"
                alt="Ornament"
              />
              <li><a href="#storyline">Storyline</a></li>
              <li><a href="#gameplay">Gameplay</a></li>
              <li><a href="#bonus-chapter">Bonus Chapter</a></li>
              <li><a href="#collectibles">Collectibles</a></li>
              <li><a href="#replayability">Replayability</a></li>
              <li><a href="#design">Design</a></li>
              <li><a href="#hints">Hints</a></li>
            </ul>
            <img
              class="drop-ornament-img-bottom"
              src="./img/ornament-bottom@2x.webp"
              alt="Ornament"
            />
          </div>
        </li>
        <li class="nav-item"><a href="#offline-mode">Offline Mode</a></li>
        <li class="nav-item"><a href="#fan-content">Fan Content</a></li>
        <li class="nav-item"><a href="#contact">Contact</a></li>
      </ul>
      <a class="burger-btn" type="button" data-action="open">
        <svg class="burger-icon icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </a>
    </nav>
  </div>
</header>
