<section class="hints">
  <div class="hints-container container">
    <div>
      <img src="" alt="Golden Crown" />
      <h2>Hints</h2>
      <h3>Play your way—with or without help</h3>
    </div>
    <div>
      <p>
        While the game is entirely free, optional support tools are available to
        smooth your journey. Use them as little or as often as you wish
      </p>
    </div>
    <div>
      <img src="" alt="binoculars" />
      <p>
        Hints reveal object locations, while skips let you bypass mini-games
        you’re stuck on. These tools are balanced for fairness—they never
        trivialize gameplay, but gently nudge you forward
      </p>
    </div>
    <div>
      <img src="" alt="coffer" />
      <p>
        For expert players, completing chapters without any assistance unlocks
        elite titles, profile effects, and permanent in-game bonuses
      </p>
    </div>
    <div>
      <p>
        The choice is yours: embrace the full challenge or enjoy the story at
        your own pace
      </p>
    </div>
  </div>
</section>
