<div class="mob-menu-backdrop">
    <div class="mob-menu-header">
        <a href="#" class="mob-menu-logo" aria-label="Home">
            <img src="/img/mob-logo.webp" alt="Mobile menu logo">
        </a>
        <button class="mob-menu-close" aria-label="close menu">
            <svg class="mob-menu-close-icon" width="24" height="24" >
                <use href="/img/sprite.svg#icon-close">X</use>
            </svg>
        </button>
        <nav class="mob-menu-nav">
            <ul>
                <li><a href="#welcome">Welcome</a></li>
                <li><a href="#storyline">Storyline</a></li>
                <li><a href="#gameplay">Gameplay</a></li>
                <li><a href="#bonus-chapter">Bonus Chapter</a></li>
                <li><a href="#collectibles">Collectibles</a></li>
                <li><a href="#replayability">Replayability</a></li>
                <li><a href="#design">Design</a></li>
                <li><a href="#hints">Hints</a></li>
                <li><a href="#offline-mode">Offline Mode</a></li>
                <li><a href="#fan-content">Fan Content</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>