<div class="mob-menu-backdrop" data-visible="close">
  <div class="mob-menu-header">
    <a href="#" class="mob-menu-logo" aria-label="Home">
      <img
        src="./img/logo-icon@2x.webp"
        alt="Mobile menu logo"
        width="50"
        height="50"
        class="mob-menu-logo-img"
      />
    </a>
    <a class="mob-menu-close" data-action="close">
      <svg class="mob-menu-close-icon icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </a>
  </div>
  <nav class="mob-menu-nav">
    <img
      class="mob-ornament-img top"
      src="./img/ornament-top@2x.webp"
      alt="Ornament"
    />
    <ul>
      <li><a href="#welcome">Welcome</a></li>
      <li><a href="#storyline">Storyline</a></li>
      <li><a href="#gameplay">Gameplay</a></li>
      <li><a href="#bonus-chapter">Bonus Chapter</a></li>
      <li><a href="#collectibles">Collectibles</a></li>
      <li><a href="#replayability">Replayability</a></li>
      <li><a href="#design">Design</a></li>
      <li><a href="#hints">Hints</a></li>
      <li><a href="#offline-mode">Offline Mode</a></li>
      <li><a href="#fan-content">Fan Content</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <img
      class="mob-ornament-img bottom"
      src="./img/ornament-bottom@2x.webp"
      alt="Ornament"
    />
  </nav>
</div>
