<section class="replayability">
  <div class="replayability-container container">
    <div>
      <img src="" alt="Golden Crown" />
      <h2>Replayability</h2>
      <h3>Return again—and uncover what you missed</h3>
    </div>
    <div>
      <img src="" alt="book" />
      <p>
        Once completed, scenes remain open for replay, allowing you to refine
        your skills and discover missed secrets
      </p>
    </div>
    <div>
      <img src="" alt="magic ball" />
      <p>
        With over 40 achievements—including rare and hidden challenges—you’re
        always just a step away from a new goal
      </p>
    </div>
    <div>
      <img src="" alt="clover" />
      <p>
        Compete against your own records or try themed replays (e.g., no hints,
        time limits, or item combos)
      </p>
    </div>
    <div>
      <img src="" alt="box" />
      <p>
        Each achievement unlocks badges, profile effects, and special lore
        entries.
      </p>
    </div>
    <p>
      Whether you’re a speed-runner, lore-hunter, or perfectionist, Enchanted
      Kingdom offers a rewarding reason to return
    </p>
  </div>
</section>
