<section class="welcome">
  <div class="welcome-container">
    <div>
      <h1>Welcome to the Realm</h1>
      <h2>Step into a storybook kingdom locked in time and ice</h2>
      <p>
        Enter Enchanted Kingdom: Frost Curse, where an age-old battle between
        light and darkness has reached a chilling climax. As the rightful heir,
        you're thrust into a kingdom teetering on the edge of ruin—its magic
        faltering, its people silenced, its crown abandoned. The realm is rich
        with ancient history, elemental forces, and mysterious alliances
      </p>
      <a href="#">
        <img src="" alt="Google Play" />
      </a>
      <div>
        <img src="" alt="sword" />
      </div>
      <div>
        <img src="" alt="a sword in a crown" />
      </div>
    </div>
    <div>
      <p>
        From opulent throne rooms to frostbitten glades, every corner holds
        secrets. You won’t just observe this story—you’ll shape it through
        clever decisions and determined exploration. Whether you're a hidden
        object veteran or a newcomer to the genre, prepare to lose yourself in a
        realm where every snowflake carries a story
      </p>
    </div>
  </div>
</section>
