<section class="welcome">
  <div class="welcome-container container">
    <div class="welcome-top-left">
      <h1 class="welcome-title">Welcome to the <span>Realm</span></h1>
      <h2 class="welcome-subtitle">
        Step into a storybook kingdom locked in time and <span>ice</span>
      </h2>
      <p class="welcome-text">
        Enter Enchanted Kingdom: Frost Curse, where an age-old battle between
        light and darkness has reached a chilling climax. As the rightful heir,
        you're thrust into a kingdom teetering on the edge of ruin—its magic
        faltering, its people silenced, its crown abandoned. The realm is rich
        with ancient history, elemental forces, and mysterious alliances.
      </p>
    </div>
    <img
      class="welcome-image-main"
      src="./img/crown-sword.webp"
      alt="a sword in a crown"
    />
    <p class="welcome-text">
      From opulent throne rooms to frostbitten glades, every corner holds
      secrets. You won’t just observe this story—you’ll shape it through clever
      decisions and determined exploration. Whether you're a hidden object
      veteran or a newcomer to the genre, prepare to lose yourself in a realm
      where every snowflake carries a story.
    </p>
    <div class="welcome-bottom-left">
      <img class="welcome-image-sword" src="./img/sword.webp" alt="sword" />

      <a href="#" class="welcome-play-button">
        <img
          src="./img/GooglePlay.webp"
          width="51"
          height="56"
          alt="Google Play Icon"
        />
        <!-- <span>Google Play</span> -->
        Google Play
      </a>
    </div>
  </div>
</section>
