.fan {
  padding: 48px 0;
}

.fan-container {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* position: relative; */
}

/* ========== ЛІВИЙ КОНТЕЙНЕР ========== */
.fan-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
}

.fan-title-wrapper {
  position: relative;
  width: 206px;
  height: 65px;
  margin-bottom: 24px;
}

.fan-crown {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%) rotate(-180deg);
  width: 118px;
  height: 31px;
}

.fan-title {
  border: 2px solid #c39325;
  border-radius: 60px;
  background-color: #0891b2;
  color: #fff;
  font-family: 'Rakkas', cursive;
  font-weight: 400;
  font-size: 24px;
  width: 206px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.fan-subtitle {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  max-width: 600px;
  text-align: left;
  margin-bottom: 24px;
}

/* ========== ЦЕНТР КОНТЕНТУ ========== */
.fan-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.fan-paragraph p {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  max-width: 700px;
  margin: 0;
}

.fan-image {
  width: 288px;
  height: 159px;
  border-radius: 12px;
  object-fit: cover;
}

/* ===== ДЕСКТОП ===== */
@media (min-width: 900px) {
  .fan {
    padding: 64px 80px;
  }

  .fan-left {
    margin-left: 80px;
  }

  .fan-title-wrapper {
    width: 479px;
    height: 115px;
  }

  .fan-crown {
    width: 210px;
    height: 55px;
    top: -55px;
  }

  .fan-title {
    width: 479px;
    height: 115px;
    font-size: 36px;
  }

  .fan-subtitle {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .fan-paragraph p {
    font-size: 16px;
    line-height: 1.8;
  }

  .fan-image {
    width: 507px;
    height: 280px;
    border-radius: 20px;
  }
}
