.mob-menu-backdrop[data-visible='open'] {
  display: block;
}
.mob-menu-backdrop[data-visible='close'] {
  display: none;
}
.mob-menu-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* box-sizing: border-box; */
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: #0e7490;
  z-index: 1000;
}
.mob-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: #0891b2;
  color: #fff;
}

.mob-menu-close-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.mob-menu-nav ul {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  row-gap: 16px;
}

.mob-menu-nav li {
  display: block;
  width: 100%;
  border-bottom: #fff 1px solid;
}

.mob-ornament-img {
  margin: 0 auto;
  width: 70%;
  height: auto;
  display: block;
}

.top {
  margin-top: 16px;
}

.bottom {
  margin-bottom: 16px;
}
