.welcome {
  padding: 16px 0;
  /* padding-inline: 20px; */
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

/* ======= МОБІЛЬНА ВЕРСІЯ ======= */
.welcome-title {
  font-family: 'Rakkas', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.welcome-title span {
  color: #a5f3fc;
}

.welcome-subtitle {
  font-family: 'Rakkas', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.welcome-subtitle span {
  color: #a5f3fc;
}

.welcome-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  margin: 0 auto;
  max-width: 600px;
}

.welcome-image-main {
  /* width: 288px;
  height: 389px; */
  margin: 0 auto;
  display: block;
  object-fit: contain;
}

.welcome-image-sword {
  /* width: 61px;
  height: 288px;
  transform: rotate(-90deg); */
  display: block;
  /* margin: 24px auto; */
  object-fit: contain;
}

.welcome-play-button {
  border: 2px solid #6d6d6d;
  border-radius: 20px;
  padding: 16px 24px;
  /* width: 227px; */
  /* height: 76px; */
  background: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-decoration: none;
  color: #000;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 20px;
  font-weight: 500;
  /* margin: 24px auto 0; */
}

.welcome-play-button:hover,
.welcome-play-button:focus {
  background: #d7d5d5;
}

.welcome-play-button:active {
  background: #fcfbfb;
}

/* ======= ДЕСКТОПНА ВЕРСІЯ ======= */
@media (min-width: 900px) {
  .welcome-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .welcome-top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .welcome-image-main {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .welcome-bottom-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome-title {
    /* width: max-content; */
    font-size: 64px;
  }

  .welcome-subtitle {
    font-size: 36px;
  }

  .welcome-text {
    font-size: 20px;
    line-height: 1.6;
  }

  .welcome-image-sword {
    /* position: absolute; */
    transform: none;
  }

  .welcome-play-button {
    padding: 16px 24px;
  }
}
